@model AddCourseWithInstructorVM

@{
    ViewData["Title"] = "تعديل البيانات";
}

<h2>@ViewData["Title"]</h2>

<form method="post" asp-action="SaveEdit" asp-controller="Course">
    <input type="hidden" asp-for="CrsID" />

    <div class="mb-3 col-md-6">
        <label asp-for="CrsName" class="form-label"></label>
        <input asp-for="CrsName" class="form-control" />
        <span asp-validation-for="CrsName" class="text-danger"></span>
    </div>

    <div class="mb-3 col-md-6">
        <label asp-for="CrsPrice" class="form-label"></label>
        <input asp-for="CrsPrice" class="form-check form-control" />
        <span asp-validation-for="CrsPrice" class="text-danger"></span>
    </div>

    <div class="mb-3 col-md-6">
        <label asp-for="CrsHours" class="form-label"></label>
        <input asp-for="CrsHours" class="form-control"/>
        <span asp-validation-for="CrsHours" class="text-danger"></span>
    </div>

    <div class="mb-3 col-md-6">
        <label asp-for="CrsMinDegree" class="form-label"></label>
        <input asp-for="CrsMinDegree" class="form-control" />
        <span asp-validation-for="CrsMinDegree" class="text-danger"></span>
    </div>

    <div class="mb-3 col-md-6">
        <label asp-for="CrsStage" class="form-label"></label>
        <input value="@Model.CrsStage.GetDisplayName()" class="form-control" readonly/>
    </div>

    <div class="mb-3 col-md-6">
        <label asp-for="CrsLevel" class="form-label"></label>
        <input value="@Model.CrsLevel.GetDisplayName()" class="form-control" readonly />
    </div>

    <div class="mb-3 col-md-6">
        <label asp-for="CrsSemester" class="form-label"></label>
        <input value="@Model.CrsSemester.GetDisplayName()" class="form-control" readonly />
    </div>

    <input type="submit" value="حفظ" class="btn btn-success">
    <a asp-action="Index" class="btn btn-secondary">رجوع</a>
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

