@model GoEdu.ViewModel.AddCourseWithInstructorVM

@{
    ViewData["Title"] = "إضافة كورس جديد";
}

<h2>@ViewData["Title"]</h2>

<form method="post" asp-action="SaveCourses" asp-controller="Course" asp-route-InsID="6">

    <div class="mb-3 col-md-6">
        <label asp-for="CrsName" class="form-label"></label>
        <input asp-for="CrsName" class="form-control" />
        <span asp-validation-for="CrsName" class="text-danger"></span>
    </div>

    <div class="mb-3 col-md-6">
        <label asp-for="CrsPrice" class="form-label"></label>
        <input asp-for="CrsPrice" class="form-check form-control" />
        <span asp-validation-for="CrsPrice" class="text-danger"></span>
    </div>

    <div class="mb-3 col-md-6">
        <label asp-for="CrsHours" class="form-label"></label>
        <input asp-for="CrsHours" class="form-control" />
        <span asp-validation-for="CrsHours" class="text-danger"></span>
    </div>

    <div class="mb-3 col-md-6">
        <label asp-for="CrsMinDegree" class="form-label"></label>
        <input asp-for="CrsMinDegree" class="form-control" />
        <span asp-validation-for="CrsMinDegree" class="text-danger"></span>
    </div>

    <div class="mb-3 col-md-6">
        <label asp-for="CrsStage" class="form-label"></label>
        <select asp-for="CrsStage" class="form-select" asp-items="Html.GetEnumSelectList<Stage>()">
            <option value="-1">----- أختر المرحلة التعليمية -----</option>
        </select>
    </div>

    <div class="mb-3 col-md-6">
        <label asp-for="CrsLevel" class="form-label"></label>
        <select asp-for="CrsLevel" class="form-select" asp-items="Html.GetEnumSelectList<Level>()">
            <option value="-1">----- أختر الصف الدراسي -----</option>
        </select>
    </div>

    <div class="mb-3 col-md-6">
        <label asp-for="CrsSemester" class="form-label"></label>
        <select asp-for="CrsSemester" class="form-select" asp-items="Html.GetEnumSelectList<Semester>()">
            <option value="-1">----- أختر الفصل الدراسي -----</option>
        </select>
    </div>

    <input type="submit" value="إضافة" class="btn btn-success">
    <a asp-action="Index" class="btn btn-secondary">رجوع</a>
</form>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>



